/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up basic styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: black; */
    background-image: url(images/backdrop6.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.subtext {
    color:white;
    margin-top: 10px; /* Adjust as needed */
}

.navigation {
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #007bff, #00bfff); /* Gradient background */
    align-items: center;
    display: inline-flex; 
    border-radius: 10px;
    padding: 10px 20px; /* Increase padding for better spacing */
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: all 0.3s ease; /* Smooth transition */
}

.navigation:hover {
    transform: translateY(-2px); /* Move button up slightly on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.navigation:active {
    transform: translateY(1px); /* Push button down slightly when clicked */
    box-shadow: none; /* Remove shadow on click */
}


.blank
{
    height: 90px;
    background: transparent;
}


.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* margin: -90px auto 0; */
}

.container {
    text-align: center;
}

.subtext {
    margin-top: 10px; /* Adjust as needed */
}

.about-page {
    margin-bottom: 10px; /* Adjust as needed */
}

/* Styling container */
.container
{
    background-color: white;
}
.container h2 {
    margin-bottom: 20px; /* Adjust as needed */
}

.Section {
    margin-bottom: 40px; /* Adjust as needed */
}

.Section h3 {
    text-align: left;
}

/* .Sub-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.Sub-Section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-between; */
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.Sub-Section button {
    color: white;
    background-color: #4CAF50; /* Green background color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color change */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.Sub-Section button:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

.Sub-Section > div:not(:first-child){
    margin-left: 20px;
}

.Sub-Section div{
    background-color: #f8f9fa; /* Light gray background color */
    padding: 15px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.Sub-Section div img{
    border-radius: 8px;
}

.Sub-Section div div {
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Adjust font weight */
    line-height: 1.4; /* Adjust line height */
    color: #333; /* Text color */
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px; /* Reduced padding */
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;
}

/* Resize the logo */
.footer img {
    width: 120px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.credits-text {
    color: white;
    font-size: 12px; /* Adjust font size */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #18232f;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.close:focus {
    outline: none; /* Remove the default focus outline */
}

#observation-form label {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 5px;
}

#observation-form input[type="text"],
#observation-form input[type="email"],
#observation-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4CAF50;
    background-color: transparent;
    color: #fff;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-bottom-color 0.3s ease;
}

#observation-form input[type="text"]:focus,
#observation-form input[type="email"]:focus,
#observation-form select:focus {
    outline: none;
    border-bottom-color: #45a049;
}

#target {
    color: black;
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

#target option{
    color: black;
}

#observation-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#observation-form button:hover {
    background-color: #45a049;
}
